<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="M4Data.SettingsServer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="M4Data.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ValidacaoAcessoSoap" />
                <binding name="RegistroUsuarioSoap" />
                <binding name="UpgradeVersionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.9/PlenaServer/RegistroUsuario.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistroUsuarioSoap"
                contract="RegistroUsuario.RegistroUsuarioSoap" name="RegistroUsuarioSoap" />
            <endpoint address="http://192.168.1.9/PlenaServer/ValidacaoAcesso.asmx"
                binding="basicHttpBinding" bindingConfiguration="ValidacaoAcessoSoap"
                contract="ValidacaoAcesso.ValidacaoAcessoSoap" name="ValidacaoAcessoSoap" />
            <endpoint address="http://192.168.1.9/PlenaServer/UpgradeVersion.asmx"
                binding="basicHttpBinding" bindingConfiguration="UpgradeVersionSoap"
                contract="UpgradeVersion.UpgradeVersionSoap" name="UpgradeVersionSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <M4Data.SettingsServer>
            <setting name="AccessedUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Server1_Ip" serializeAs="String">
                <value>54.187.159.71</value>
            </setting>
            <setting name="Server2_Ip" serializeAs="String">
                <value>192.168.1.9</value>
            </setting>
            <setting name="Server3_Ip" serializeAs="String">
                <value>192.168.1.9</value>
            </setting>
            <setting name="Server1_Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Server2_Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Server3_Port" serializeAs="String">
                <value>80</value>
            </setting>
        </M4Data.SettingsServer>
        <M4Data.Settings.Settings>
            <setting name="AccessedUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server1_Ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Server2_Ip" serializeAs="String">
                <value>192.168.1.9</value>
            </setting>
            <setting name="Server3_Ip" serializeAs="String">
                <value>192.168.1.9</value>
            </setting>
            <setting name="Server1_Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Server2_Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Server3_Port" serializeAs="String">
                <value>80</value>
            </setting>
        </M4Data.Settings.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
