<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="M4_Platform___DDF_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="M4_Platform___DDF_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M4.Properties.Settings>
            <setting name="TwitterUN" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterPW" serializeAs="String">
                <value />
            </setting>
            <setting name="TweetTrades" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>qs01.ddfplus.com</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanSymbols" serializeAs="String">
                <value />
            </setting>
            <setting name="Script" serializeAs="String">
                <value />
            </setting>
            <setting name="Periodicity" serializeAs="String">
                <value />
            </setting>
            <setting name="oauth_token" serializeAs="String">
                <value />
            </setting>
            <setting name="oauth_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="consumerSecret" serializeAs="String">
                <value>4oDfASz8t7dVlpfRcdgtQbauohZrLgVfrIwD8de5mE</value>
            </setting>
            <setting name="consumerKey" serializeAs="String">
                <value>iaSD4uobC6uYVvpKGPbYQ</value>
            </setting>
            <setting name="display_name" serializeAs="String">
                <value />
            </setting>
        </M4.Properties.Settings>
        <M4_Platform___DDF_Data.Properties.Settings>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
        </M4_Platform___DDF_Data.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <M4.Properties.Settings>
            <setting name="M4_modulusfe_platform_data_Service" serializeAs="String">
                <value>http://platform.modulusfe.com/data/service.asmx</value>
            </setting>
            <setting name="M4_modulusfe_platform_Service" serializeAs="String">
                <value>http://localhost/M4Inet/Service.asmx</value>
            </setting>
            <setting name="DictionaryLanguage" serializeAs="String">
                <value>English</value>
            </setting>
        </M4.Properties.Settings>
        <M4_Platform___DDF_Data.Properties.Settings>
            <setting name="M4_Platform___DDF_Data_modulusfe_platform_Service"
                serializeAs="String">
                <value>http://platform.modulusfe.com/service.asmx</value>
            </setting>
        </M4_Platform___DDF_Data.Properties.Settings>
    </applicationSettings>
</configuration>